<h2>Show Deploy</h2>

<ul>

  <li>
    <strong>Configuration:</strong>
    <%= @deploy.configuration %>
  </li>

  <li>
    <strong>Terraform state:</strong>
    <%= @deploy.terraform_state %>
  </li>

</ul>

<span><%= link "Edit", to: deploy_path(@conn, :edit, @deploy) %></span>
<span><%= link "Back", to: deploy_path(@conn, :index) %></span>
